p{
    font-size: 50px;
    background-color: beige;
}
p.cal{
    font-size: 30px;
    background-color: rgb(224, 226, 226);
    color:red;
    text-align: center;
    text-decoration:underline;
}
p.math{
    font-size: 20px;
    background-color: aliceblue;
    text-align: center;
}
label.first{
    background-color:cyan;
}
label.second{
    background-color: rgb(222, 225, 28);
}
.button{
    background-color: rgb(255, 47, 47);
   
}
body{
    background-color: azure;
}
input{
    background-color:rgb(237, 225, 225);
    color:rgb(0, 0, 0);
}